img {
	height:60px;
	width:60px;
}

table {
	border-bottom-color:black;
	border-style:solid;
	border-width:1px;
}

td {
	border-bottom-color:black;
	border-style:solid;
	border-width:1px;
	border-left:none;
	border-right:none;
	border-top:none;
}