
img {/*mise en page image*/
	height:60px;
	width:80px;
}
body{/*mise en page du corps de la page*/
	background-color:#CFA75D;
	margin:auto;
}
#logo {/*mise en page du logo*/
	height:50px;
	width:150px;
}
nav {/*mise en page de la partie navigation*/
	margin-left:10px;
	font-weight:bold;
	margin-top:10px;

}

.fa-shopping-basket/*mise en page de l'icone panier*/
{
color:black;
font-size:30px;
padding:5px;
margin-left:10px;

}
.liens{
	margin-left:10px;
}
#erreur{/*mise en page de l'affichage des messages d'erreur*/
	color:red;
}
#validercommande{/*mise en page du bouton de validation de la commande*/
	margin-top:10px;
	margin-left:35%;
}
#affichage{/*mise en page de la zone d'affichage du script*/
	margin:auto;
	padding:auto;
	top:50px;
	position:relative;
}
#msg{
	margin-left:10%;
}
#validerpanier{/*mise en page du bouton de validation du panier*/
margin-top:20px;
margin-left:35%;
}
#tpanier{
	margin-left:20%;
	margin-right:20px;
	width:50%;
}
table {/*mise en page des tableau*/
	border-bottom-color:black;
	border-style:solid;
	border-width:1px;
	margin:auto;
	padding:auto;
	position:relative;
}
.tdpanier{/*mise en page des lignes du tableau panier*/
	border-bottom-color:black;
	border-style:solid;
	border-width:1px;
	border-top:none;
	text-align:center;
	border-left:none;
	width:150px;
}
label{
	margin-left:30px;
}
td {/*mise en page des ligne de tableau*/
	border-bottom-color:black;
	border-style:solid;
	border-width:1px;
	border-left:none;
	
	border-top:none;
	text-align:center;
	width:60%;
	background-color:  #dac090  ;
	border-color:blue;
}

.desc{/*mise en page tableau*/
	
	border-right:none;
}
#pt {/*mise en page case prix total du tableau*/
	color:red;
	border-color:black;
}
#pu{/*mise en page case prix unitaire du tableau*/
	color:red;
	border-color:black;
}
A{
	margin-right:20px;
}

header {/*mise en page de l'entete de la page*/
	background-color:cyan;
	margin-bottom:10px;
	top:0;
	width:100%;
	position:relative;
	display:flex;
    justify-content:space-between;
	padding-left:auto;
}

footer {/*mise en page du pied de page*/
	background-color:cyan;
	bottom:0;
	width:100%;
	position:absolute;
}

@media all and (max-width: 768px) /*mise en place du responsive, pour les écrans avec résolution =inférieure à 768px*/
{
	body{
		max-width:768px;
	}
header {
	width:100%;
}
footer {
	width:100%;
}

#logo {
	width:150px;
	margin-left:10px;
}
nav {
	margin-left:30px;
}
#tpanier{
	margin-left:20px;
	width:90%;
}
}
