body{/*mise en page disposition*/
	 display:inline-flex;
	 flex-direction:column;
	 background-color:#F4F3DC;
}

img {/*mise en page image*/
	height:300px;
	width:450px;
}
#logo {/*mise en page logo*/
	height:50px;
	width:150px;
	
}

.fa-shopping-basket/*mise en page "bouton" panier*/
{
color:black;
font-size:30px;
padding:5px;
margin-left:10px;

}
header {/*mise en page entete*/
	background-color:orange;
	margin-bottom:10px;
	top:0;
	width:150%;
	position:relative;
    display:flex;
    flex-direction:row;
	padding-left:auto;
}
nav {/*mise en page nav*/
	margin-left:10px;
}
#accueil {/*mise en page acceuil*/
	margin-right:600px;
}
a{/*mise en page des liens*/
	margin-left:10px;
}
footer { /*mise en page pied de page*/
    background-color:orange;
	margin-top:10px;
	bottom:0;
	width:130%;
	position:relative;
}


.mep{ /*mise en page*/
	font-weight:bold;
}
#affichage{/*mise en page affichage*/
	margin-left:75px;
	margin-right:75px;
}
#ajtpanier{/*mise en page bouton ajouter au panier*/
	background-color:#CFA75D;
	color:black;
}

@media all and (max-width: 768px) /*mise en place du responsive*/
{
header {
	width:700px;
}
footer {
	width:700px;
}
table {
	height:125%;
	
}

#accueil {
	margin-right:350px;
}
main{
	margin-top:10%;
	margin-bottom:10%;

}
#logo {
	width:150px;
	margin-left:10px;
}
nav {
	margin-left:30px;
}

}