div {
	display:column;
}

img {
	height:300px;
	width:450px;
}
#logo {
	height:50px;
	width:25%;
	margin-left:50px;
	margin-right:50px;
}

header {
	background-color:green;
	margin-bottom:10px;
	top:0;
	width:100%;
	position:relative;
	padding-left:auto;
}

footer {
	background-color:green;
	margin-top:10px;
	bottom:0;
	width:100%;
	position:absolute;
}

@media all and (max-width: 768px) /*mise en place du responsive*/
{
table {
	height:125%;
	
}
#logo {
	width:50%;
}

}