body{/*mise en page disposition*/
	 background-color:#F4F3DC;
	 margin:auto;
}

img {/*mise en page image*/
	height:300px;
	width:450px;
}
#logo {/*mise en page logo*/
	height:50px;
	width:150px;
	
}

.fa-shopping-basket/*mise en page "bouton" panier*/
{
color:black;
font-size:30px;
padding:5px;
margin-left:10px;

}
header {/*mise en page entete*/
	background-color:orange;
	margin-bottom:10px;
	top:0;
	width:100%;
	position:relative;
    display:flex;
    justify-content:space-between;
	padding-left:auto;
}
nav {/*mise en page nav*/
	margin-left:10px;
}
#accueil {/*mise en page acceuil*/
	left:0;
}
a{/*mise en page des liens*/
	margin-left:10px;
}
footer { /*mise en page pied de page*/
    background-color:orange;
	margin-top:10px;
	bottom:0;
	width:100%;
	position:absolute;
}


.mep{ /*mise en page*/
	font-weight:bold;
}
#affichage{/*mise en page affichage*/
	margin:auto;
	margin-left:10px;
	padding:auto;
	top:50px;
	position:relative;
}
#ajtpanier{/*mise en page bouton ajouter au panier*/
	background-color:#CFA75D;
	color:black;
}

@media all and (max-width: 768px) /*mise en place du responsive*/
{
	body{
		max-width:768px;
	}
#accueil {
	margin-right:2px;
}
img{
	width:50%;
	height:50%;
}
main{
margin:auto;

}
header {
	width:100%;
}
footer {
	width:100%;
}
#logo {
	width:150px;
	margin-left:10px;
}
nav {
	margin-left:30px;
}

}